body{
    background-color: rgb(75, 68, 68);
    color: azure;
}
h1{
    text-align: center;
    font-size:4em;
    /*border: 1px solid;*/ 
}
#divgeneral{
    background-color: antiquewhite;
    margin: 0px;
    padding: 0%;
    /*border: 1px solid;*/
    overflow: hidden;
    text-align: center;
    display: flex;
    border-radius: 50px;
    color: rgb(8, 8, 8);
}
#divgeneral section{
    /*border: 1px solid;*/
    width: 33.333333%;
    /*height: 20em;*/
    /*float: left;*/
    /*vertical-align: middle;*/
}
#divgeneral section h2 {
    padding: 10px;
    font-size: 1.5em;
    color: #1d6e1f;
}
#cuadrado{
    background-color: aquamarine; 
}
#triangulo{
    background-color:bisque;
}
input{
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    border: none;
    width: 10vw;
}
label{
    font-size: 1em;
}
#divgeneral section button {
    background-color: #aceeae;
    border-radius: 5px;
    color: rgb(7, 6, 6);
    padding: 5px;
    margin: 10px 0px 10px 10px;
    text-align: center;
    font-size: 12px;
    border: none;
}
  
#divgeneral section button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
#divresul{
    text-align: center;
}
#resultado{
    display: block;
    text-align: center;
    font-size: 40px;
    margin: 0% 0% 0% 10%;
    height: 40px;
    width: 80%;
    background-color: #fbfbfb;
    color: rgb(22, 21, 21);
   
}
#limpiar{
    height: 100%;
    background-color: #aceeae;
    border-radius: 5px;
    color: rgb(7, 6, 6);
    padding: 5px;
    margin: 10px 0px 10px 10px;
    text-align: center;
    font-size: 12px;
    border: none;
}